.homepage #catAbb,
.homepage #go,
.homepage .leftlinks #cl_app_beta,
.no-js,
p.more {
  display: none;
}

#logo {
  font-size: 2.5rem;
}

.homepage-search .querybox {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid #464646;
  font-size: 16px;
}

.menu.collapsible > li {
  cursor: pointer;
}

.menu.collapsible > li.expand.s ul {
  display: block;
}

.menu.collapsible > li ul {
  display: none;
}

/* Your code here */
* {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  background-color: whitesmoke;
  color: #464646;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

ul > li {
  list-style: none;
}

a:visited {
  color: #800080;
}

a:hover {
  color:#800080;
  font-weight: bold;
}

a > span:hover {
  color:#800080;
  font-weight: bold;
}

.page-container {
  max-width: 1200px;
}

#leftbar,
#center,
#rightbar {
  float: left;
  padding: 0 30px;
  box-sizing: border-box;
}

footer {
  clear: both;
}

#leftbar,
#rightbar {
  width: 25%;
}

#center {
  width: 50%;
  border: 1px solid #464646;
  border-radius: 10px;
}

#center > div {
  float: left;
  width: 33%;
}

#topban h2 {
  text-align: center;
}

ul.clfooter {
  text-align: center;
  border-top: 1px solid gray;
  padding: 10px 0;
}

ul.clfooter > li {
  display: inline;
  padding-right: 5px;
}

h4.ban::before {
  content: "☮️";
  color: #800080;
}

.cal td {
  border: 1px solid #333;
  text-align: center;
}

.cal {
  border-collapse: collapse;
}

.cal a {
  color: green;
  font-weight: bold;
}

.cal td:not(.link) {
  color: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
}

.cal td.today {
  background-color: darkviolet;
  color: white;
}

.cal td:hover:not(.link) {
  background-color: lavender;
}